body {
  width: 350px;
  padding: 10px;
  box-sizing: border-box; /* 패딩 때문에 요소의 크기가 늘어나지 않도록 함 */
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 100;
  height: 450px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.modal-open .modal {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.modal-open .modal-overlay {
  display: block;
}
.settings_title {
  margin-bottom: 0;
  text-align: center;
  font-weight: bold; /* 제목에 강조 효과 추가 */
}

button {
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  cursor: pointer; /* 버튼에 마우스 오버시 포인터 아이콘으로 변경 */
}

button:hover {
  background-color: #f0f0f0;
}

button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.settings_btn {
  float: left;
  width: calc(30% - 3px); /* 레이아웃이 깨지지 않도록 버튼 크기 조정 */
  margin-right: 3%;
  font-size: 0.88em;
}

#resetButton {
  margin-right: 0 !important;
}

#btn_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 버튼이 공간을 넘어갈 경우 다음 행으로 이동 */
}

#statistics {
  margin-bottom: -25px;
}
